
// 根据ui提供的规范定义
// 文本颜色
$color-text: #010101;
$color-text-black: #0F0F0F;
$color-text-blue: #3A78F4;
$color-text-blue-black: #3360BC;
$color-text-gray: #585858;
$color-text-grayer: #999999;
$color-text-grey: #C1C1C1;
$color-text-green: #52c41a;
$color-text-red: #F22D28;
$color-text-cyan: #2FD9F5;
$color-text-white: #FFFFFF;
$color-text-yellow: #F59B53;

// 背景颜色
$color-bg: #f6f8fb;
$color-bg-black: #000000;
$color-bg-gray: #4F4F4F;
$color-bg-blue: #3A78F4;
$color-bg-blue-white: #EAF0FD;
$color-bg-green: #52c41a;
$color-bg-red: #F22D28;
$color-bg-white: #FFFFFF;
$color-bg-gray-white: #E6E6E6;
$color-bg-green-white: #E8FCFF;
$color-bg-yellow: #F59B53;

// 边框颜色
$color-bd: #A0A0A0;
$color-bd-black: #585858;
$color-bd-gray:#888888;
$color-bd-grey:#dcdfe6;
$color-bd-grey-light:#cccccc;
$color-bd-blue: #3A78F4;
$color-bd-green: #52c41a;
$color-bd-red: #F22D28;
$color-bd-yellow: #F59B53;

// 阴影
$color-bs-black: #343434;
$color-bs-blue: #2D81BC;

// 链接
$color-link: #7ca3f0;
$color-link-hover: #3A78F4;

// 宽度
$width-max: 1920px;
$width-min: 1400px;