
// 根据ui提供的规范定义
// 文本颜色
$color-text-black = #0F0F0F
$color-text-blue = #3A78F4
$color-text-gray = #585858
$color-text-grey = #C1C1C1
$color-text-green = #52c41a
$color-text-red = #F22D28
$color-text-cyan = #2FD9F5

$color-text = #393939
$color-text-grayer = #999
$color-text-green = #52CC60
$color-text-green-white = #65B800
$color-text-yellow = #F89F03
$color-text-white = #ffffff
$color-text-grey = #cccccc
$color-text-purple = #778ADC
$color-text-gray-blue = #8489A3

// 背景颜色
$color-bg = #f6f8fb
$color-bg-black = #000000
$color-bg-gray = #4F4F4F
$color-bg-blue = #3A78F4
$color-bg-green = #52c41a
$color-bg-red = #F22D28
$color-bg-white = #FFFFFF


$color-bg-gray-white = #F8F8FB
$color-bg-blue-white = #F7FBFC
$color-bg-grayer = #e4e4e4
$color-bg-light-blue = #DADCE5
$color-bg-main-grayer = #f6f7f9
$color-bg-gray-white = #FAFAFA
$color-bg-theme = #232774
$color-bg-purple = #778ADC
$color-bg-yellow = #F89F03
$color-bg-gray-blue = #EDF4F8
$color-bg-blue-purple = #6085EA

// 边框颜色
$color-bd = #A0A0A0 
$color-bd-black = #585858
$color-bd-gray =#888888
$color-bd-blue = #3A78F4
$color-bd-green = #52c41a
$color-bd-red = #F22D28

// 阴影
$color-bs-black = #343434
$color-bs-blue = #2D81BC

// 宽度
$width-max = 1920px
$width-min = 768px